* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: grey;
	text-align: center;
}

.omotac {
	position: relative;
	padding: 0 15px;
	/*background-image: url("https://media.giphy.com/media/SAemZChRCE7pm/giphy.gif");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;*/
	background-color: #092e6b;
	max-width: 768px;
	min-width: 320px;
}

.gornji {
	position: relative;
	top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100%;
	text-align: center;
}

.gornji-glavni {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	border-bottom: 1px solid grey;
}

.gornji-glavni h6 {
	margin-top: 5px;
}

.gornji-glavni h1 {
	margin-top: 45px;
	font-size: 80px;
	margin-bottom: 15px;
}

#prvi-minmax {
	margin-bottom: 35px;
}

.gornji-dno {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dno {
	display: flex;
	justify-content: space-between;
}

.gornji-dno p {
	font-size: 60%;
}

.swiper-container {
    height: 130px;
    border-bottom: 1px solid grey;
}

.mala-kutija {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 95%;
}

.mala-kutija img {
	height: 40px;
	width: 55px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.mala-kutija p {
	font-size: 90%;
}

.donje {
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: column;
}

.donji-dani {
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: space-between;
}

.donji-dani:nth-child(5) {
	border-bottom: none;
}

.donji-dani:first-child {
	display: none;
}

.between {
	width: calc(50% + 30px);
	display: flex;
	justify-content: space-between;
}

.between img {
	height: 50px;
	width: 60px;
	margin: 2px 0 1px 0;
}

.center-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dan {
	background: linear-gradient(#a8f6ff, #fff);
}

.noc {
	background: linear-gradient( black, #4c6da3);
}

.magla {
	background: linear-gradient( #c5c6cc, #a6a7ad);
}

.sunce {
	position: absolute;
	left: 50%;
	top: 50px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: yellow;
	filter: blur(20px);
	display: none;
	animation: sija 10s infinite;
}

.mesec {
	position: absolute;
	left: 50%;
	top: 50px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: white;
	filter: blur(20px);
	display: none;
	animation: sija 10s infinite;
}

.kisa {
	border-left: 2px solid #babcc6;
	border-right: 2px solid #babcc6;
	position: absolute;
	transform: skew(-20deg);
	height: 75px;
	width: 300px;
	top: 350px;
	left: 25%;
	display: none;
}

.kap {
	border-left: 2px solid #babcc6;
	height: 100%;
	position: absolute;
	display: none;
}

.kap:nth-child(1) {
	left: 50px;
	height: 94%;
}

.kap:nth-child(2) {
	left: 100px;
	height: 81%;
}

.kap:nth-child(3) {
	left: 150px;
	height: 66%;
}

.kap:nth-child(4) {
	left: 200px;
	height: 93%;
}

.kap:nth-child(5) {
	left: 250px;
	height: 74%;
}

@keyframes sija {
	0%{filter: blur(5px);}
	50%{filter: blur(25px);}
	100%{filter: blur(5px);}
}

.oblak {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.oblak:after, .oblak:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.oblak:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.oblak:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

.oblak:nth-child(3) {
	position: absolute;
	top: 270px;
	left: 25%;
	opacity: .7;
	display: none;
}

.oblak:nth-child(4) {
	position: absolute;
	top: 210px;
	left: 25%;
	opacity: .8;
	transform: scale(1.3);
	display: none;
}

.oblak:nth-child(5) {
	position: absolute;
	top: 180px;
	left: 25%;
	opacity: .8;
	transform: scale(1.3);
	background: #babcc6;
	display: none;
}

.oblak:nth-child(5):after, .oblak:nth-child(5):before {
	background: #babcc6;
}

.oblak:nth-child(6) {
	position: absolute;
	top: 120px;
	left: -20%;
	opacity: .8;
	transform: scale(.9);
	background: #babcc6;
	display: none;
}

.oblak:nth-child(6):after, .oblak:nth-child(6):before {
	background: #babcc6;
}

.oblak:nth-child(7) {
	position: absolute;
	top: 210px;
	left: 25%;
	opacity: .8;
	transform: scale(1.3);
	display: none;
}
